<div class="offcanvas offcanvas-end" tabindex="-1" id="cartOffcanvas" aria-labelledby="cartOffcanvasLabel">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="cartOffcanvasLabel">Carrito</h5>
      <button type="button" id="canvas-close" class="btn-close text-reset btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
      <div class="prod-box rounded-5">
        <div class="prod-pic "> 
          <img src="fotos/procesador.png" alt="...">
        </div>
        <div class="prod-text">
          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
          <h3>$ 254.990</h3>
          <p>Precio Efectivo</p>
          <h4><span class="material-symbols-outlined">
            remove
            </span>
            </span> 1 <span class="material-symbols-outlined">
              add </span></h4> 
        </div>
      </div>

      <div class="prod-box rounded-5">
        <div class="prod-pic "> 
          <img src="fotos/procesador.png" alt="...">
        </div>
        <div class="prod-text">
          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
          <h3>$ 254.990</h3>
          <p>Precio Efectivo</p>
          <h4><span class="material-symbols-outlined">
            remove
            </span>
            </span> 1 <span class="material-symbols-outlined">
              add </span></h4> 
        </div>
      </div>

      <div class="prod-box rounded-5">
        <div class="prod-pic "> 
          <img src="fotos/procesador.png" alt="...">
        </div>
        <div class="prod-text">
          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
          <h3>$ 254.990</h3>
          <p>Precio Efectivo</p>
          <h4><span class="material-symbols-outlined">
            remove
            </span>
            </span> 1 <span class="material-symbols-outlined">
              add </span></h4> 
        </div>
      </div>
        
      <a href="cart.html" id="ircarro">
        Ir al carrito
      </a>

      </div>
    </div>
  </div>