{% load static %}
<nav class="navbar navbar-expand-lg">

    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand fw-bold" id="navbar" href="{% url 'index'%}">Navbar</a>

      <form action="{% url 'filter' %}" method="get">
        <div class="search">
          <span class="search-icon material-symbols-outlined">search</span>
          <input class="search-input" type="search" placeholder="Search">
        </div>
      </form>

      <div class="d-flex">
        <a id="favorites" href="{% url 'favorites' %}">
          <i class="fa-solid fa-heart"></i>
        </a>
        <div class="dropdown ms-2">
          <a class="dropdown-toggle" href="#" id="profiletext" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user-circle" id="profileicon"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profiletext">
            {% if request.user.is_authenticated %}
              <li class="dropdown-item">{{request.user.username}}</li>
              {% if request.user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'crud' %}">Admin Panel</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'login' %}" >Iniciar Sesion</a></li>
              <li><a class="dropdown-item" href="{% url 'registro' %}">Registrarse</a></li>
            {% endif%}
          </ul>
        </div>
        <a id="cart" href="#" data-bs-toggle="offcanvas" data-bs-target="#cartOffcanvas">
          <i class="fa-solid fa-cart-shopping"></i>
        </a>
        
      </div>
    </div>
  </nav>