{% extends "main.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/createform.css' %}">
{% endblock css%}

{% block content %}


<div class="form-container">
    <form method="post" class="form-form">
        <h2>Crear Usuario</h2>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary w-100" type="submit">Crear Usuario</button>
        <button class="btn btn-danger mt-2 w-100" type="button" onclick="window.location.href='{% url 'seeusers' %}'" >Volver</button>
    </form>
</div>

{% endblock content%}
{% block footer %}

{% endblock footer%}