{% extends "main.html" %}
{% load static %}
{% block content %}

<div class="container">
        <div class="row">
            <div class="col-6 no-deco">
                <a href="{% static 'product.html'%}">
                    <div class="fav-box rounded-5">
                        <div class="fav-item-pic"> 
                          <img src="{% static 'fotos/procesador.png'%}" alt="...">
                        </div>
                        <div class="fav-item-text">
                          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                          <h3>$ 254.990</h3>
                          <p>Precio Efectivo</p>
                          <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </div>
                    </div>
                </a>

                <a href="{% static 'product.html'%}">
                    <div class="fav-box rounded-5">
                        <div class="fav-item-pic"> 
                          <img src="{% static 'fotos/procesador.png'%}" alt="...">
                        </div>
                        <div class="fav-item-text">
                          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                          <h3>$ 254.990</h3>
                          <p>Precio Efectivo</p>
                          <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </div>
                    </div>
                </a>

                <a href="{% static 'product.html'%}">
                    <div class="fav-box rounded-5">
                        <div class="fav-item-pic"> 
                          <img src="{% static 'fotos/procesador.png'%}" alt="...">
                        </div>
                        <div class="fav-item-text">
                          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                          <h3>$ 254.990</h3>
                          <p>Precio Efectivo</p>
                          <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-6 no-deco">
                <a href="{% static 'product.html'%}">
                    <div class="fav-box rounded-5">
                        <div class="fav-item-pic"> 
                          <img src="{% static 'fotos/procesador.png'%}" alt="...">
                        </div>
                        <div class="fav-item-text">
                          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                          <h3>$ 254.990</h3>
                          <p>Precio Efectivo</p>
                          <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </div>
                    </div>
                </a>

                <a href="{% static 'product.html'%}">
                    <div class="fav-box rounded-5">
                        <div class="fav-item-pic"> 
                          <img src="{% static 'fotos/procesador.png'%}" alt="...">
                        </div>
                        <div class="fav-item-text">
                          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                          <h3>$ 254.990</h3>
                          <p>Precio Efectivo</p>
                          <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </div>
                    </div>
                </a>

                <a href="{% static 'product.html'%}">
                    <div class="fav-box rounded-5">
                        <div class="fav-item-pic"> 
                          <img src="{% static 'fotos/procesador.png'%}" alt="...">
                        </div>
                        <div class="fav-item-text">
                          <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                          <h3>$ 254.990</h3>
                          <p>Precio Efectivo</p>
                          <span class="material-symbols-outlined">
                            favorite
                        </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
      </div>

{% endblock content %}