{% extends "main.html" %}
{% load static %}
{% block content %}

        <div class="container">
            <div class="row" id="left">
              <div class="col-4 d-flex flex-column align-items-start">
                <div class="text-container">
                    <h1 class="mb-3" id="filterText">Filter</h1>
                </div>
                <div class="text-container">
                    <h3 class="mb-4">Datos Generales <span class="material-symbols-outlined">
                        expand_more
                        </span></h3> 
                </div>
                <div class="text-container">
                    <h3 class="mb-4">Especificaciones <span class="material-symbols-outlined">
                        expand_more
                        </span></h3>
                </div>
                <div class="text-container">
                    <h3 class="mb-4">Avanzado <span class="material-symbols-outlined">
                        expand_more
                        </span> </h3>
                </div>
              </div>
          
              <div class="col-8" id="right">
                <div class="d-flex flex-column h-100">
                  <div class="bg-gray p-3 mb-3 rounded-2 d-flex align-items-center" id="top">
                    <div class="search inner-search" id="innerSearchBar">
                      <span class="search-icon material-symbols-outlined">search</span>
                      <input class="search-input" type="search" placeholder="Search">
                    </div>
                    
                    <div id="ordenar">
                        Ordenar
                    </div>

                    <div class="dropdown ml-2">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Destacado
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="#">Menor precio</a>
                          <a class="dropdown-item" href="#">Mayor precio</a>
                          <a class="dropdown-item" href="#">Nombre</a>
                          <a class="dropdown-item" href="#">Marca</a>
                        </div>
                    </div>

                        <div id="izquierda">
                          <h5><</h5>
                          <h5>1</h5>
                          <h5>2</h5>
                          <h5>3</h5>
                          <h5>></h5>
                        </div>

                  </div>

                    <div class="flex-container no-deco" id="bottom">  
                      <a href="{% url 'product' %}" class="d-inline-block">
                        <div class="fil-item-box rounded-5">
                            <div class="fil-item-pic"> 
                              <img src="{% static 'fotos/procesador.png' %}" alt="...">
                            </div>
                            <div class="fil-item-text">
                              <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                              <h3>$ 254.990</h3>
                              <p>Precio Efectivo</p>
                              <span class="material-symbols-outlined">
                                favorite
                            </span>
                            </div>
                        </div>
                    </a>
                    
                    <a href="{% url 'product' %}">
                      <div class="fil-item-box rounded-5">
                          <div class="fil-item-pic"> 
                            <img src="{% static 'fotos/procesador.png' %}" alt="...">
                          </div>
                          <div class="fil-item-text">
                            <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                            <h3>$ 254.990</h3>
                            <p>Precio Efectivo</p>
                            <span class="material-symbols-outlined">
                              favorite
                          </span>
                          </div>
                      </div>
                    </a>

                    <a href="{% url 'product' %}">
                      <div class="fil-item-box rounded-5">
                          <div class="fil-item-pic"> 
                            <img src="{% static 'fotos/procesador.png' %}" alt="...">
                          </div>
                          <div class="fil-item-text">
                            <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                            <h3>$ 254.990</h3>
                            <p>Precio Efectivo</p>
                            <span class="material-symbols-outlined">
                              favorite
                          </span>
                          </div>
                      </div>
                    </a>

                    <a href="{% url 'product' %}" class="d-inline-block">
                      <div class="fil-item-box rounded-5">
                          <div class="fil-item-pic"> 
                            <img src="{% static 'fotos/procesador.png' %}" alt="...">
                          </div>
                          <div class="fil-item-text">
                            <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                            <h3>$ 254.990</h3>
                            <p>Precio Efectivo</p>
                            <span class="material-symbols-outlined">
                              favorite
                          </span>
                          </div>
                      </div>
                    </a>
                    
                    <a href="{% url 'product' %}">
                      <div class="fil-item-box rounded-5">
                          <div class="fil-item-pic"> 
                            <img src="{% static 'fotos/procesador.png' %}" alt="...">
                          </div>
                          <div class="fil-item-text">
                            <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                            <h3>$ 254.990</h3>
                            <p>Precio Efectivo</p>
                            <span class="material-symbols-outlined">
                              favorite
                          </span>
                          </div>
                      </div>
                    </a>

                    <a href="{% url 'product' %}">
                      <div class="fil-item-box rounded-5">
                          <div class="fil-item-pic"> 
                            <img src="{% static 'fotos/procesador.png' %}" alt="...">
                          </div>
                          <div class="fil-item-text">
                            <h5>Procesador CPU AMD Ryzen 7 7800X</h5>
                            <h3>$ 254.990</h3>
                            <p>Precio Efectivo</p>
                            <span class="material-symbols-outlined">
                              favorite
                          </span>
                          </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
              </div>
            </div>
          </div>

{% endblock content%}
