{% extends "main.html" %}
{% load static %}
{% block content %}

<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <a href="{% static 'product.html'%}"><img src="{% static 'fotos/fot1.png' %}" class="d-block w-100" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="{% static 'product.html'%}"><img src="{% static 'fotos/fot2.png' %}" class="d-block w-100" alt="..."></a>
      </div>
      <div class="carousel-item">
        <a href="{% static 'product.html'%}"><img src="{% static 'fotos/fot3.png' %}" class="d-block w-100" alt="..."></a>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="container-fluid my-5">
    <div class="row">
      <div class="col-12 m-auto">
        <div class="owl-carousel owl-theme">
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp1.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp2.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp3.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp4.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp5.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp6.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp7.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
          <div class="item">
            <a href="{% static 'product.html'%}" class="link-hover">
              <div class="card border-0 shadow">
                <img src="{% static 'fotos/comp8.jpg' %}" alt="" class="card-img-top">
                <div class="card-body">
                  <div class="card-title text-center">
                    <h4>Compu</h4>
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
    
{% endblock content %}
