{% extends "main.html" %}
{% load static %}
{% block content %}


      <div class="container">
        <div class="row">

          <div class="col-8 flex-grow-1 bg-gray p-3 d-flex">
            <img id="displayProduct" src="{% static 'fotos/procesador.png' %}" alt="...">
            <div class="product-text">
              <h1>AMD® CPU AMD sAM4</h1>
              <h2>CPU Ryzen 7 5700G (AM4)</h2>
              <h3 id="p-efectivo">$ 254.990</h3>
              <h2>Precio</h2>
              <h4><span class="material-symbols-outlined">
                remove
                </span>
                </span> 1 <span class="material-symbols-outlined">
                  add </span></h4> 
              <h5> Agregar al Carrito <span class="material-symbols-outlined">
                add_shopping_cart
                </span></h5>
              <p><span class="material-symbols-outlined" id="truck">local_shipping</span>Despacho a Domicilio <span id="avalible">Disponible</span></p>
              <p><span class="material-symbols-outlined" id="storefront">store</span>Retiro en tienda <span id="avalible2">Disponible</span></p>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}