{% extends "main.html" %}
{% load static %}
{% block content %}

    <div class="container">
        <form id="form" action="/">
            <div class="h1-container">  
                <h1>Registro</h1>
            <div class="input-control">
                <label for="username">Usuario</label>
                <input id="username" name="username" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="email">Email</label>
                <input id="email" name="email" type="text">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password">Contraseña</label>
                <input id="password"name="password" type="password">
                <div class="error"></div>
            </div>
            <div class="input-control">
                <label for="password2">Confirmar Contraseña</label>
                <input id="password2"name="password2" type="password">
                <div class="error"></div>
            </div>
            <button type="submit" class="btn btn-primary w-100">Registro</button>
            <div class="container signin">
                <p>¿Ya tienes una cuenta? <a href="{% url 'inisesion' %}">Iniciar Sesion</a>.</p>
            </div>
        </form>  
    </div>

{% endblock content %}

{% block scriptload %}
      <script src="{% static 'js/register.js' %}"></script>
{% endblock scriptload %}

{% block footer %}

{% endblock footer %}