{% extends "main.html" %}
{% load static %}
{% block css %}
<style>
    input {
        outline: 1px solid #fff;
        color: white;
        border-radius: 5px; 
        background-color: transparent; 
        padding: 10px; 
        border: none; 
    }
    input:focus {
        outline: 1px solid #fff; 
    }
</style>
{% endblock css %}
{% block content %}

    <div class="container" style="color: white;">
        <form method="POST" action="">
            {% csrf_token %}
                <h1 style="text-align: center;">Registrarse</h1>
                {% if mensaje %}
                    <div class='{{design}}'>
                        {{mensaje}}
                    </div>
                {% endif%}
                
                {{form.as_p}}
                <button type="submit" class="btn btn-primary w-100">Registro</button>
        </form>
        <div style="text-align: center; margin-top: 10px;">
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Iniciar Sesion</a>.</p>
        </div>
    </div>

{% endblock content %}

{% block scriptload %}
      <script src="{% static 'js/register.js' %}"></script>
{% endblock scriptload %}

{% block footer %}

{% endblock footer %}